.cons{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 40px;
}

table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
}

 th, td{
    padding: 5px 20px;
}

#buttons{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
#btn-edit{
    color: orange;
}
#btn-remove{
    color: red;
}
button{
    padding: 4px 10px;
    min-width: 80px;
}

tr:hover{
    cursor: pointer;
    color: blue;
}

.modal{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    display: none;
    flex-direction: column;
    gap: 20px;
    padding: 50px;
    align-items: center;
}

.show{
    display: flex;
}